<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
    <h1>Chatbot</h1>
    <div id="chat-window">
        <div id="output"></div>
        <input type="text" id="input" placeholder="Type your message">
        <button id="submit">Send</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#submit').click(function() {
                var input = $('#input').val();
                $.ajax({
                    url: '/chatbot/',
                    type: 'POST',
                    data: {
                        'prompt': input,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(data) {
                        $('#input').val('');
                        $('#output').append('<p><b>User:</b> ' + input + '</p>');
                        $('#output').append('<p><b>Bot:</b> ' + data.message + '</p>');
                    }
                });
            });
        });
    </script>
</body>
</html>